*.jpg
*.ba2
*.png
*.pak
*.esm
Video/*.bk2
Video/*.bk2.vortex_backup
Terrain/*.btd
__folder_managed_by_vortex
*.cdx
*.bin
*.txt
vortex.deployment.json
PLM-Translations.json
PLM-Priority-Perks.json
*.DLSTRINGS
*.STRINGS
*.ILSTRINGS
*.swf
*.dll
*.exe
*.bat
FastPipData/*
*.md
OPTIONAL-ONLY-POWERARMOR-PARTS-RENAME_ME-HUDCondition.json
*.ps1
01-TZNukeMap/Fallout76Custom.ini
*.vortex_backup
